body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9; /* Background color for the body */
  }
  
  h1 {
    text-align: center; /* Center the heading */
    color: #333; /* Color of the heading */
  }
  
  table {
    width: 100%; /* Full width of the table */
    border-collapse: collapse; /* Collapses border spacing */
    margin-top: 20px; /* Space above the table */
  }
  td {
    color: black !important;
    visibility: visible !important;
    display: table-cell !important;
  }
  
  
  th, td {
    padding: 10px; /* Padding for cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Bottom border for rows */
  }
  
  th {
    background-color: #f2f2f2; /* Background color for headers */
  }
  
  canvas {
    display: block; /* Block display for the canvas */
    margin: 50px auto; /* Center the canvas */
    max-width: 600px; /* Max width of the canvas */
    width: 100%; /* Full width of the canvas */
  }
  a {
    text-decoration: none;
    color: inherit; /* Use the original color of the text */
  }
  
  a:visited {
    color: inherit; /* Prevent color change after clicking */
  }
  