<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance System</title>
    <!-- Import vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Import qr scanner package -->
    <script src="https://unpkg.com/html5-qrcode"></script>

    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      button {
        margin: 10px 0;
        padding: 10px;
      }
    </style>

    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body >
    <div id="app">
      <h1>Attendance System</h1>
      <div id="reader"></div>
      <button @click="startAttendance" v-if="!isScanning">
        Start Attendance
      </button>
      <button @click="stopAttendance" v-if="isScanning">Stop Attendance</button>

      <h2>Attendance List</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Attendance Taken</th>
          </tr>
        </thead>
        <tbody>
          <!-- Display students that taken their attendance -->
          <tr v-for="student in attendanceList" :key="student.uid">
            <td>{{ student.name }}</td>
            <td>{{ student.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script type="module" src="takeAttendance.js"></script>
  </body>
</html>
