body {
    background-color: #f0f1e6;
}

.sidebar {
    background-color: #c8c9be;
    position: sticky;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.sidebar-content a {
    text-decoration: none;
    color: black;
}

.sidebar-content {
    font-size: 25px;
}

.sidebar-hr {
    border-top: 2px solid black;
}

.w-80 {
    width: 80%;
}

.check-description {
    font-size: 20px;
}


.main-content {
    width: 95%;
}