body {
    background-color: #f0f1e6;
}

.sidebar {
    background-color: #c8c9be;
    position: fixed;
    top: 0px;
    bottom: 0px;
}

.sidebar-content a {
    text-decoration: none;
    color: black;
}

.sidebar-content {
    font-size: 25px;
}

.sidebar-hr {
    border-top: 2px solid black;
}

.sidebar-logo {
    height: 10%;
}

.w-80 {
    width: 80%;
}

.check-description {
    font-size: 20px;
}

.page-content {
    width: 100%;
    padding-left: 25%;
}

.main-content {
    width: 95%;
}